<div class="row mt-3">
    <div class="col-md-4 offset-4 shadow">
      <div class="card">
        <div class="card-header text-center bg-primary text-white">
          <h3>Update Product</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit(product)">
            <div class="mb-3">
              <label class="col-form-label">Product Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="productName"
                [ngClass]="{
                  error:
                    (submitted || f['productName'].touched) &&
                    getControl('productName').errors
                }"
              />
              <div *ngIf="(submitted || f['productName'].touched) && f['productName'].errors" class="text-danger small">
                <span *ngIf="f['productName'].errors?.['required']">First Name is required</span>
                <span *ngIf="f['productName'].errors?.['minlength']">First Name should atleast 3 characters</span>
              </div>
            </div>
            
            <div class="mb-3">
              <label class="col-form-label">Description</label>
              <input
                type="text"
                class="form-control"
                formControlName="description"
                [ngClass]="{
                  error:
                    (submitted || f['description'].touched) &&
                    getControl('description').errors
                }"
              />
              <div *ngIf="(submitted || f['description'].touched) && f['description'].errors" class="text-danger small">
                <span *ngIf="f['description'].errors?.['required']">Last Name is required</span>
                <span *ngIf="f['description'].errors?.['minlength']">Last Name should atleast 3 characters</span>
              </div>
            </div>
            
            <div class="mb-3">
              <label class="col-form-label">Unit Price</label>
              <input
                type="text"
                class="form-control"
                formControlName="unitPrice"
                [ngClass]="{
                  error:
                    (submitted || getControl('unitPrice').touched) &&
                    getControl('unitPrice').errors
                }"
              />
              <div *ngIf="(submitted || f['unitPrice'].touched) && f['unitPrice'].errors" class="text-danger small">
                <span *ngIf="f['unitPrice'].errors?.['required']">Contact No is required</span>
                <span *ngIf="f['unitPrice'].errors?.['minlength'] || f['unitPrice'].errors?.['maxlength']">Contact No must be 10 digit</span>
                <span *ngIf="f['unitPrice'].errors?.['pattern']">. Please enter valid contact no</span>
              </div>
            </div>
            <div class="mb-3">
                <label class="col-form-label">Units In Stock</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="unitsInStock"
                  [ngClass]="{
                    error:
                      (submitted || getControl('unitsInStock').touched) &&
                      getControl('unitsInStock').errors
                  }"
                />
                <div *ngIf="(submitted || f['unitsInStock'].touched) && f['unitsInStock'].errors" class="text-danger small">
                  <span *ngIf="f['unitsInStock'].errors?.['required']">Contact No is required</span>
                  <span *ngIf="f['unitsInStock'].errors?.['minlength'] || f['unitsInStock'].errors?.['maxlength']">Contact No must be 10 digit</span>
                  <span *ngIf="f['unitsInStock'].errors?.['pattern']">. Please enter valid contact no</span>
                </div>
              </div>
            <div class="mb-3">
              <label class="col-form-label">Discontinued</label>
              <select class="form-select" formControlName="discontinuedd" [ngClass]="{
                error:
                  (submitted || getControl('discontinuedd').touched) &&
                  getControl('discontinuedd').errors
              }">
                <option value="true">True</option>
                <option value="false">False</option>
                
              </select>
              <div *ngIf="(submitted || getControl('discontinuedd').touched) && f['discontinuedd'].errors" class="text-danger small">
                <span *ngIf="f['discontinuedd'].errors?.['required']">discontinued is required</span>
              </div> 
            </div>

            <div class="mb-3">
                <label class="col-form-label">CategoryId</label>
                <select class="form-select" formControlName="categoryId" [ngClass]="{
                  error:
                    (submitted || getControl('categoryId').touched) &&
                    getControl('categoryId').errors
                }">
                  <option *ngFor="let cat of categories" value="{{cat.categoryId}}">{{cat.categoryId}}</option>
                  
                  
                </select>
                <div *ngIf="(submitted || getControl('categoryId').touched) && f['categoryId'].errors" class="text-danger small">
                  <span *ngIf="f['categoryId'].errors?.['required']">discontinued is required</span>
                </div> 
              </div>
            
            
            <div class="mt-2">
              <button class="btn btn-primary" type="submit">Update Product</button>
            </div>

            <span *ngIf="isSubmitted" class="text-success">Successfully Updated!!</span>
          </form>
        </div>
      </div>
    </div>
  </div>
