<div class="container products-container">
    <h3 class="search-result">Search Results for :  </h3>
  <div class="card mt-5" *ngFor="let item of productList">
    <img src="{{item.productImage}}" class="card-img-top card-img-size center" alt="..." >
    <div class="card-body">
      <h5 class="card-title text-center">{{item.productName}}</h5>
      <p class="card-text mb-2">Some quick example text to build on </p>
      <div class="price-cart-container">
        <h6>Rs. {{item.unitPrice}}</h6>
        <a href="#" class="btn btn-success cart-btn mb-2">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<app-add-category></app-add-category>