<!--Carasol Implementation --->

<div class="container">
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="../../assets/Images/carasol-1.jpg"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/carasol-2.jpg" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/carasol-3.jpg"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/carasol-4.jpg" alt="...">
    </div>
  </div>
</div>




