<!-- Contact Us Page Section  -->

<div class="container-flex my-1 shadow mx-4">

    <div class="row">

        <!-- left column with content  -->

        <div class="col-md-6 contact-content p-5">

            <div>

                <div class="mt-4 mx-4 text-center">

                    <h2>Contact Us</h2>

                </div>

                <div class="mt-4 mx-5">

                    <p>Get in touch with us today! We're here to help.</p>

                </div>



                <div class="mt-4">

                    <p class="mt-3 mx-5">

                        <i class="fa-solid fa-location-dot mx-2"></i>

                        Address : 123 Street, NewTown, India 123456

                    </p>

                </div>

                <div class="mt-2">

                    <p class="mt-4 mx-5">

                        <i class="fa-solid fa-phone mx-2"></i>

                        Phone : +918888888888

                    </p>

                </div>

                <div class="mt-2">

                    <p class="mt-4 mx-5">

                        <i class="fa-solid fa-envelope mx-2"></i>

                        Email : gorcery@gmail.com

                    </p>

                </div>

                <div class="mt-2">

                    <p class="mt-4 mx-5">

                        <i class="fa-solid fa-globe mx-2"></i>

                        Channel : <a href="#" class="text-dark">www.grocery.com</a>

                    </p>

                </div>

            </div>

        </div>

        <!-- right column with image  -->

        <div class="col-md-6 contact-img"></div>

    </div>

</div>